################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EDGE/.vs/EDGE/v15/Preview
/EDGE/Dependencies/SFML-2.4.2
/EDGE/EDGE/intermediate
/EDGE/Dependencies/glew-2.1.0
/EDGE/EDGE/output
/EDGE/tests/BasicTest/intermediate
/EDGE/tests/BasicTest/output/Win32/Release
/EDGEddd.sln
