################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/EDGE/.vs/EDGE/v15/Preview
/EDGE/Dependencies/SFML-2.4.2
